.account-title {
    text-align: center;
    font-size: 50px;
    letter-spacing: 1.1px;
    padding: 30px 0 50px 0;
}

.account-groups {
    display: flex;
    padding: 0 15px;
}

.account-group:first-child {
    flex: 1;
}

.account-group:last-child {
    flex: 2;
}

.account-group img {
    width: 280px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.account-button {
    display: block;
    margin: 0 auto;
    background-color: rgba(75, 151, 75, 0.727);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    box-shadow: 0 0 3px #2f5f74;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: all 0.5s;
    margin-top: 20px;
    margin-bottom: 30px;
}

.account-button:hover {
    color: rgba(75, 151, 75, 0.727);
    background-color: whitesmoke;
}

.account-subtitle {
    margin-bottom: 30px;
    font-size: 38px;
    text-align: center;
}

.card-footer-account button:first-child {
    margin: 0 auto;
    background-color: rgba(20, 55, 20, 0.677);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    box-shadow: 0 0 3px #2f5f74;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: all 0.5s;
    margin-top: 10px;
}

.card-footer-account button:first-child:hover {
    color: rgba(20, 55, 20, 0.677);
    background-color: whitesmoke;
}

.card-footer-account button:last-child {
    margin: 0 auto;
    background-color:rgb(202, 77, 9);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    box-shadow: 0 0 3px #2f5f74;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: all 0.5s;
    margin-top: 10px;
}

.card-footer-account button:last-child:hover {
    color:rgb(202, 77, 9);
    background-color: whitesmoke;
}

.card-footer-account {
    display: flex;
    justify-content: space-between;
}

.account-orders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    gap: 8px;
}

.account-orders a.linkOrder {
    margin-left: 30px;
    font-size: 18px;
    transition: all 0.3s;
}

.account-orders a:hover {
    filter: drop-shadow(0 0 2px green);
}

.form-row.account {
    min-height: unset;
}

.form-image {
    position: relative;
}

.form-image label {
    position: absolute;
    top: 0;
    right: 20%;
    font-size: 25px;
    cursor: pointer;
    color: rgba(75, 151, 75, 0.727);
    filter: drop-shadow(0 0 1px green);
    transition: all 0.5s;
}

.form-image label:hover {
    color: rgba(100, 200, 100, 0.727);
}

.btn-upload {
    display: flex;
    justify-content: center;
}

.btn-upload button{
    margin: 0 auto;
    background-color: rgba(20, 55, 20, 0.677);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    box-shadow: 0 0 3px #2f5f74;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: all 0.5s;
    margin-top: 10px;
}

.btn-upload button:hover {
    background-color: whitesmoke;
    color: rgba(20, 55, 20, 0.677);
}

.add-btn {
    width: fit-content;
    display: block;
    margin: 0 0 30px auto;
    padding: 10px;
    background-color: rgba(20, 55, 20, 0.677);
    color: whitesmoke;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    letter-spacing: 1.2px;
    transition: all 0.5s;
    box-shadow: 0 0 5px rgb(61 61 61);
}

.add-btn:hover {
    color: rgba(20, 55, 20, 0.677);
    background-color: whitesmoke;
}

.form-image.product img {
    width: 90px;
    height: auto;
}
.info {
    margin-bottom: 20px;
}

.orderContainer {
    margin: 50px 5px;
    font-family: 'Courier New', Courier, monospace;
}

.orderContainer .order-row h3{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 80px;
}

.order-row.products {
    display: flex;
}

.order-row.products .order-col:first-child{
    flex: 2;
    padding: 0 10px;
}

.order-row.products .order-col:last-child{
    flex: 1;
}

.card-body .priceOrder {
    margin: 10px 0 8px 0;
    text-align: end;
    font-weight: bold;
}

.order-row.products .order-col:first-child .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.back {
    color: green;
    margin: 10px;
    font-size: 17px;
    font-weight: bold;

}

.back:hover {
    text-decoration: underline;
    color: rgba(75, 151, 75, 0.727);
}

.info-groups{
    margin-bottom: 40px;
    padding: 0 15px;
}

.info-group {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed black;
    font-size: 17px;
}

.info-group span{
    margin: 3px 0 3px 0;
}

.info-groups span:nth-child(2){
    font-weight: 600;
}

.account-info{
    margin-top: 100px;
}

.user-info-row{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 50px;
    text-align: center;
}

.account-orders .info {
    font-size: 19px;
}
.user-info-row p {
    font-size: 20px;
    margin-bottom: 10px;
}