.account-title {
    text-align: center;
    font-size: 50px;
    letter-spacing: 1.1px;
    padding: 30px 0 50px 0;
}

.account-groups {
    display: flex;
    padding: 0 15px;
}

.account-group:first-child {
    flex: 1;
}

.account-group:last-child {
    flex: 2;
}

.account-group img {
    width: 280px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.account-image {
    display: block;
    margin: 0 auto;
    background-color: rgba(75, 151, 75, 0.727);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    box-shadow: 0 0 3px #2f5f74;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: all 0.5s;
    margin-top: 10px;
    margin-bottom: -30px;
}

.account-image:hover {
    color: rgba(75, 151, 75, 0.727);
    background-color: whitesmoke;
}

.account-subtitle {
    margin-bottom: 30px;
    font-size: 38px;
    text-align: center;
}

.card-footer-account button:first-child {
    margin: 0 auto;
    background-color: rgba(20, 55, 20, 0.677);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    box-shadow: 0 0 3px #2f5f74;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: all 0.5s;
    margin-top: 10px;
}

.card-footer-account button:first-child:hover {
    color: rgba(20, 55, 20, 0.677);
    background-color: whitesmoke;
}

.card-footer-account button:last-child {
    margin: 0 auto;
    background-color:rgb(202, 77, 9);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    box-shadow: 0 0 3px #2f5f74;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    transition: all 0.5s;
    margin-top: 10px;
}

.card-footer-account button:last-child:hover {
    color:rgb(202, 77, 9);
    background-color: whitesmoke;
}

.card-footer-account {
    display: flex;
    justify-content: space-between;
}

.account-orders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    gap: 8px;
}

.account-orders a {
    margin-left: 30px;
    font-size: 18px;
    transition: all 0.3s;
}

.account-orders a:hover {
    filter: drop-shadow(0 0 2px green);
}
